@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#calculator {
    margin: auto;
    width: 425px;
    height: auto;
    background-color:rgb(85, 85, 85);
    border: 2px solid black;
    border-radius: 25px;
}

#display {
    position: relative;
    margin: 15px;
    height: 100px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: black;
}

#innerDisplay {
    position: absolute;
    display: block;
    height: 85%;
    width: 95%;
    left:0;
    right:0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: black;  
    box-shadow: 0px 0px 20px rgb(17, 17, 17);
    text-align: right;

}

#calcChar {
    margin: 0;
    color: white;
    font-size: 3rem;
    font-family: 'Balsamic Sans', 'Arial Black';
    line-height: 75px;
}

#keysArea {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    font-family: 'Balsamic Sans', 'Arial Black';
}

#calculate {
    width: 100%;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
}

.key {
    width: 22%;
    margin: 10px 5px;
    display: inline-block;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 3px 1px rgb(126, 153, 126);
    font-family: 'Balsamic Sans', 'Arial Black';
    font-size: medium;
}

.key:focus {
    box-shadow: 3px 0px 1px rgb(126, 153, 126);    
}

.number {
    color: white;
    background-color: rgb(0, 27, 0);
}

.operator {
    background-color: rgb(196, 127, 0);
    color: white;
}

.other {
    background-color: rgb(219, 0, 0);
    color: white;
}
